<!doctype html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]>
<html lang="en" class="no-js ie ie6">
<![endif]-->
<!--[if IE 7]>
<html lang="en" class="no-js ie ie7">
<![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie ie8">
<![endif]-->
<!--[if IE 9]>
<html lang="en" class="no-js ie ie9">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" /> <!-- Needs to be within the first 512 bytes -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="dns-prefetch" href="//ajax.googleapis.com" />

    <title>{{ page.title }} | AssetRace</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Many of this site's static files were inspired by the HTML5 Boilerplate and HTML5 Reset projects -->

    <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
    device-width : Occupy full width of the screen in its current orientation
    initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Suppress IE6's pop-up-on-mouseover toolbar for images -->
    <meta http-equiv="imagetoolbar" content="false" />

    <!-- CSS -->

    <!-- JS -->
    <script type="text/javascript">
        window.startTime = (+new Date);
    </script>
</head>
<!-- http://www.viget.com/inspire/extending-paul-irishs-comprehensive-dom-ready-execution/ -->
<body data-controller="{{ page.controller }}" data-action="{{ page.action }}">
    <h1>{{ page.title }} | AssetRace</h1>
    <div>
        <img src="/static/img/aviators.jpg">
        <p>Crunk ipsum dolor check it out bizzle, consectetuer adipiscing sheezy. 
        Gizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle cool, brizzle 
        volutpat, suscipit quizzle, gravida vizzle, crazy. Pellentesque we gonna 
        chung tortor. Yo mamma gangsta. Bizzle break it down dolor dapibus bizzle 
        tempus tempor. Shiznit fo shizzle dawg sheezy uhuh ... yih!. Vestibulum 
        izzle tortizzle. Pellentesque bizzle rhoncizzle stuff. In hac habitasse 
        pizzle dictumst. Sure boom shackalack. Curabitur tellus bow wow wow, pretizzle 
        rizzle, mattis for sure, eleifend vitae, nunc. suscipizzle. For sure ghetto 
        velit break it down brizzle.</p>

        <img src="/static/img/jagermeister.jpg">
        <p>Sure interdizzle volutpizzle bizzle. Ut shiz adipiscing lorizzle. Sheezy 
        est. Fo shizzle sapizzle massa, ultrices pimpin', black fo shizzle my nizzle, 
        bow wow wow quis, crackalackin. Shizznit nizzle stuff. Etizzle rutrum ornare ante. 
        Maurizzle shiznit. Vestibulizzle check out this pede varius nibh commodo yo mamma. 
        I'm in the shizzle ipsizzle dolizzle dawg amet, consectetuer adipiscing crazy. 
        Own yo' black pimpin'. Quisque you son of a bizzle sem, fo et, yo a, pot a, elit.</p>

        <img src="/static/img/redbull.jpg">
        <p>Praesent dizzle mi non mauris bibendum. Mofo lacinia viverra lectus. Cras izzle 
        mammasay mammasa mamma oo sa izzle leo that's the shizzle yo. Aliquizzle yo mamma, 
        maurizzle boofron dapibizzle convallis, nulla break it down bibendum metizzle, izzle 
        venenatis augue bow wow wow izzle rizzle. Vivamus gravida lacus ma nizzle ipsizzle. 
        Vivamus arcu magna, fermentizzle mah nizzle funky fresh, faucibus for sure, sizzle 
        ac, mauris. Sizzle vehicula laoreet nibh. Vestibulum brizzle diam, hendrerizzle we 
        gonna chung, condimentum rizzle, own yo' , black. Morbi aliquam placerizzle gangsta. 
        Maecenizzle yo go to hizzle phat erizzle. Bizzle shizzle my nizzle crocodizzle mofo, 
        egestas eu, accumsizzle shiznit, elementizzle eget, neque. Nulla iaculizzle fo a i 
        saw beyonces tizzles and my pizzle went crizzle tincidunt sodalizzle. Fusce fo
        shizzle my nizzle, funky fresh eget sollicitudin mollis, hizzle crackalackin 
        luctizzle erat, my shizz sure augue uhuh ... yih! vitae dawg. Etiam phat lacizzle. 
        I saw beyonces tizzles and my pizzle went crizzle yo mamma mi. Shit eu turpizzle. 
        Cool a fo shizzle. Sed fo shizzle erat, go to hizzle izzle, tempor izzle, facilisis 
        izzle, bling bling. Nunc dawg. Nulla sheezy erizzle, away sizzle amizzle, ultricizzle 
        izzle, tincidunt non, augue.</p>

        <img src="/static/img/blanket.jpg">
        <p>Brizzle sagittis leo nizzle get down get down. Pellentesque rhoncizzle, sizzle 
        daahng dawg shizzle my nizzle crocodizzle, sem nulla aliquizzle sizzle, get down 
        get down shut the shizzle up nulla felizzle a est. Daahng dawg bling bling scelerisque 
        funky fresh. Sizzle own yo' check out this brizzle fizzle. Proin consectetuer blandit 
        sapizzle. Cool aliquet, pimpin' i saw beyonces tizzles and my pizzle went crizzle the 
        bizzle accumsizzle check it out, leo sizzle ultricizzle shizzle my nizzle crocodizzle, 
        gizzle yo erizzle nisi sit purizzle. Maecenas hizzle tortizzle vizzle enizzle. 
        Phasellizzle i saw beyonces tizzles and my pizzle went crizzle. Nulla lectizzle lacus, 
        go to hizzle nizzle, sizzle amet, pulvinar egestizzle, bow wow wow. Vivamus convallizzle. 
        Fo shizzle my nizzle ante yippiyo primizzle shizznit faucibizzle crazy bling bling izzle 
        ultricizzle mofo cubilia Shut the shizzle up; In gangster elizzle eu enizzle check out this 
        da bomb. Fusce est brizzle, vulputate vizzle, sempizzle bling bling, commodo uhuh ... yih!, 
        nisi. Etiam feugizzle, dawg eget break it down luctizzle, lorem gizzle ultrices lorizzle, 
        id viverra mi urna vitae erat.</p> 
        <img src="/static/img/weights.jpg">
    </div>

    <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
    <!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="/static/js/jquery-1.6.1.js"%3E%3C/script%3E'))</script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    -->

    <!--[if lt IE 7 ]>
    <![endif]-->

    <!--
    <script type="text/javascript">
        // Grab our scripts async
        var media_urls = [];
        for (url in media_urls) {
            $.getScript(media_urls[url]);
        }
    </script>
    -->

    <!--
    <script>
        (function(d, t) {
            var all = [''],
                s = d.getElementsByTagName(t)[0],
                e, i, j = 0;

            for (var i in all) {
                e = d.createElement(t);
                e.async = true;
                // TODO: confirm this is fine for https
                e.src = all[i];
                e.onload = e.onreadystatechange = function() {
                    if (++j = all.length) {
                        d.body.innerHTML += '<h1>Done: ' + (+(new Date) - startTime) + 'ms</h1>';
                    }
                };

                s.parentNode.insertBefore(e, s);
            }
        })(document, 'script');
    </script> 
    -->
</body>
</html>
